USE [master]
GO
/****** Object:  Database [DbFilmManagement]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE DATABASE [DbFilmManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbFilmManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DbFilmManagement.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DbFilmManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DbFilmManagement_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbFilmManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbFilmManagement]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[ActorID] [int] IDENTITY(1,1) NOT NULL,
	[ActorName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Describe] [nvarchar](max) NULL,
	[Img] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Actor] PRIMARY KEY CLUSTERED 
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Director]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[DirectorID] [int] IDENTITY(1,1) NOT NULL,
	[DirectorName] [nvarchar](150) NULL,
	[DirectorGender] [bit] NOT NULL,
	[DirectorBirthday] [datetime] NOT NULL,
	[DirectorDescribe] [nvarchar](max) NULL,
	[DirectorImg] [nvarchar](max) NULL,
	[DirectorStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Director] PRIMARY KEY CLUSTERED 
(
	[DirectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Film]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmID] [int] IDENTITY(1,1) NOT NULL,
	[FilmName] [nvarchar](max) NOT NULL,
	[Describe] [nvarchar](max) NOT NULL,
	[Rate] [int] NOT NULL,
	[Year] [datetime] NOT NULL,
	[Img] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Film] PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubActor]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubActor](
	[ActorID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubActor] PRIMARY KEY CLUSTERED 
(
	[ActorID] ASC,
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubDirector]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubDirector](
	[DirectorID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubDirector] PRIMARY KEY CLUSTERED 
(
	[DirectorID] ASC,
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubType]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubType](
	[TypeID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubType] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC,
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubUser]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubUser](
	[UserID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[NameType] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 1/11/2019 11:01:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](15) NULL,
	[isAdmin] [bit] NOT NULL,
	[status] [bit] NOT NULL,
	[AccessToken] [nvarchar](max) NULL,
	[AccessDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

SET IDENTITY_INSERT [dbo].[Actor] OFF
SET IDENTITY_INSERT [dbo].[Director] ON 

SET IDENTITY_INSERT [dbo].[Director] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeID], [NameType]) VALUES (1, N'Phim Viễn Tưởng')
INSERT [dbo].[Type] ([TypeID], [NameType]) VALUES (2, N'Phim Cổ Trang')
INSERT [dbo].[Type] ([TypeID], [NameType]) VALUES (3, N'Phim Thần Thoại')
SET IDENTITY_INSERT [dbo].[Type] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Name], [UserName], [Password], [Gender], [Birthday], [Email], [Phone], [isAdmin], [status], [AccessToken], [AccessDate]) VALUES (1, N'Phương', N'phuong', N'123456', 1, CAST(N'1995-08-02 00:00:00.000' AS DateTime), N'phuong@gmail.com', N'123456789', 0, 1, N'cGh1b25nOjEyMzQ1NnwzY2tFbw==', CAST(N'2019-01-11 23:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Index [IX_ActorID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActorID] ON [dbo].[SubActor]
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmID] ON [dbo].[SubActor]
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DirectorID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DirectorID] ON [dbo].[SubDirector]
(
	[DirectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmID] ON [dbo].[SubDirector]
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmID] ON [dbo].[SubType]
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_TypeID] ON [dbo].[SubType]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmID] ON [dbo].[SubUser]
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 1/11/2019 11:01:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[SubUser]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SubActor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubActor_dbo.Actor_ActorID] FOREIGN KEY([ActorID])
REFERENCES [dbo].[Actor] ([ActorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubActor] CHECK CONSTRAINT [FK_dbo.SubActor_dbo.Actor_ActorID]
GO
ALTER TABLE [dbo].[SubActor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubActor_dbo.Film_FilmID] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Film] ([FilmID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubActor] CHECK CONSTRAINT [FK_dbo.SubActor_dbo.Film_FilmID]
GO
ALTER TABLE [dbo].[SubDirector]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubDirector_dbo.Director_DirectorID] FOREIGN KEY([DirectorID])
REFERENCES [dbo].[Director] ([DirectorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubDirector] CHECK CONSTRAINT [FK_dbo.SubDirector_dbo.Director_DirectorID]
GO
ALTER TABLE [dbo].[SubDirector]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubDirector_dbo.Film_FilmID] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Film] ([FilmID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubDirector] CHECK CONSTRAINT [FK_dbo.SubDirector_dbo.Film_FilmID]
GO
ALTER TABLE [dbo].[SubType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubType_dbo.Film_FilmID] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Film] ([FilmID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubType] CHECK CONSTRAINT [FK_dbo.SubType_dbo.Film_FilmID]
GO
ALTER TABLE [dbo].[SubType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubType_dbo.Type_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubType] CHECK CONSTRAINT [FK_dbo.SubType_dbo.Type_TypeID]
GO
ALTER TABLE [dbo].[SubUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubUser_dbo.Film_FilmID] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Film] ([FilmID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubUser] CHECK CONSTRAINT [FK_dbo.SubUser_dbo.Film_FilmID]
GO
ALTER TABLE [dbo].[SubUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubUser_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubUser] CHECK CONSTRAINT [FK_dbo.SubUser_dbo.User_UserID]
GO
USE [master]
GO
