<style>
    .multiselect {
          width: 100%;
        }
      
        .selectBox {
          position: relative;
        }
      
        .selectBox select {
          width: 100%;
          font-weight: bold;
        }
      
        .overSelect {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      
        #checkboxes {
          display: none;
          border: 1px #dadada solid;
        }
      
        #checkboxes label {
          display: block;
        }
      
        #checkboxes label:hover {
          background-color: #1e90ff;
        }
      
        .wrapper {
          border: 1px dashed red;
          height: 150px;
          overflow-x: hidden;
          overflow-y: scroll;
          width: 100%;
          z-index: 999;
          background-color: #ccc;
        }
      
        .wrapper .selection {
          width: 150px;
          border: 1px solid #ccc
        }
      </style>


<div id="content">
    <div id="right-content">
        <div id="film-control">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Film</li>
                </ol>
            </nav>
        </div>


        <div id="film-list">
            <div id="header-table">

            </div>
            <div id="item-table">
                <div style="width:100%">
                    <div style="width:40%; float: left;">
                        <button type="button" class="btn btn-primary float-left" style="" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Thêm Phim Mới</button>
                    </div>
                    <div style="width:60%; float: left; ">
                        <input style="width:80%; margin-top: 10px; float: right;" type="text" class="form-control" id="searchBar"
                            placeholder="Nhập tên phim để tìm kiếm ....." [(ngModel)]="filmNameSearch" (keyup)="searchlistFilm()">
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="7%" style="text-align: center"># 
                                <ng-container *ngIf="sortID == false ; else elseSortID">
                                    <i style="cursor: pointer;" class="fas fa-angle-up" (click) = "sortAscByID()"></i>
                                </ng-container>
                                <ng-template #elseSortID>
                                    <i style="cursor: pointer;" (click) = "sortDesByID()" class="fas fa-angle-down"></i>
                                </ng-template>
                            </th>
                            <th scope="col" width="15%" style="text-align: center">Tên
                                <ng-container *ngIf="sortName == false ; else elseSortName">
                                    <i style="cursor: pointer;" class="fas fa-angle-up" (click)="sortAscByName()"></i>
                                </ng-container>
                                <ng-template #elseSortName>
                                    <i style="cursor: pointer;" (click)="sortDesByName()" class="fas fa-angle-down"></i>
                                </ng-template>
                            </th>
                            <th scope="col" width="20%" style="text-align: center">Hình
                                <ng-container *ngIf="sortPic == false ; else elseSortPic">
                                    <i style="cursor: pointer;" class="fas fa-angle-up" (click)="sortAscByPic()"></i>
                                </ng-container>
                                <ng-template #elseSortPic>
                                    <i style="cursor: pointer;" (click)="sortDesByPic()" class="fas fa-angle-down"></i>
                                </ng-template>
                            </th>
                            <th scope="col" width="10%" style="text-align: center">Ngày
                                <ng-container *ngIf="sortDate == false ; else elseSortDate">
                                    <i style="cursor: pointer;" class="fas fa-angle-up" (click)="sortAscByDate()"></i>
                                </ng-container>
                                <ng-template #elseSortDate>
                                    <i style="cursor: pointer;" (click)="sortDesByDate()" class="fas fa-angle-down"></i>
                                </ng-template>
                            </th>
                            <th scope="col" width="20%" colspan="2" style="text-align: center">Diễn viên
                            </th>
                            <th scope="col" width="20%" colspan="2" style="text-align: center">Đạo diễn</th>
                            <th scope="col" width="20%" colspan="2" style="text-align: center">Thể loại</th>
                            <th scope="col" width="5%" style="text-align: center">Trạng thái
                                <ng-container *ngIf="sortStatus == false ; else elseSortStatus">
                                    <i style="cursor: pointer;" class="fas fa-angle-up" (click)="sortAscByStatus()"></i>
                                </ng-container>
                                <ng-template #elseSortStatus>
                                    <i style="cursor: pointer;" (click)="sortDesByStatus()" class="fas fa-angle-down"></i>
                                </ng-template>
                            </th>
                            <th scope="col" width="5%" style="text-align: center">Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let film of lstFilm | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                            <td scope="row">{{ film.FilmID }}</td>
                            <td>{{ film.FilmName }}</td>
                            <td><img src="{{ film.Img }}" width="150px" height="90px"></td>
                            <td>{{ film.Year | date:'dd/MM/yyyy' }}</td>
                            <td>
                        <tr *ngFor="let actor of film.Actors">
                            {{ actor.ActorName }}
                        </tr>
                        </td>
                        <td>
                            <span (click)="showActorFilmByFilmID(film.FilmID)" type="button" style="background-color:orange"
                                class="badge badge-pill badge-success" data-toggle="modal" data-target="#exampleModalLongLong">
                                +
                            </span>
                        </td>
                        <td>
                            <tr *ngFor="let directors of film.Directors">
                                {{ directors.DirectorName }}
                            </tr>
                        </td>
                        <td>
                            <span (click)="showDirectorFilmByFilmID(film.FilmID)" style="background-color:green" type="button"
                                class="badge badge-pill badge-success" data-toggle="modal" data-target="#exampleModalLong">
                                +
                            </span>
                        </td>

                        <td>
                            <tr *ngFor="let styles of film.TypeFilms">
                                {{ styles.NameType }}
                            </tr>
                        </td>
                        <td>
                            <span (click)="showTypesFilmByFilmID(film.FilmID)" style="background-color:purple" type="button"
                                class="badge badge-pill badge-success" data-toggle="modal" data-target="#exampleModalLongLongLong">
                                +
                            </span>
                        </td>

                        <td>
                            <ng-container *ngIf="film.Status == true ; else elseTemplate">
                                <span class="badge badge-pill badge-success">Kích hoạt</span>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <span class="badge badge-pill badge-success" style="background-color:red">Khóa</span>
                            </ng-template>
                        </td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg-pl"
                                (click)="findEditFilm(i,p)"><i class="fas fa-pencil-alt"></i>
                                <div class="ripple-container"></div>
                            </button>
                            <button class="btn btn-info" (click)="updateStatusFilm(film.FilmID)"><i class="fa fa-trash"></i>
                                <div class="ripple-container"></div>
                            </button>

                        </td>

                        <!---->
                        </tr>
                    </tbody>
                </table>
                <hr />
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade bd-example-modal-lg-pl" tabindex="-1" role="dialog" aria-labelledby="myEditFilmModel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="display: flex; margin: 50px">
                <form style="margin: auto; width: 100%;">
                    <h4 class="align-center">Chỉnh Sữa Phim</h4>
                    <div class="form-group">
                        <label for="exampleFormControlInput0">Tên phim</label>
                        <input type="text" class="form-control" id="exampleFormControlInput0" [(ngModel)]="filmName"
                            [ngModelOptions]="{standalone: true}">
                        <label *ngIf="_filmNameValidate != ''"><span>{{ _filmNameValidate }}</span></label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput0">Thời gian ra mắt</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" [(ngModel)]="yearCreate"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <!--Add-->
                    <!--Get image (modify side)-->
                    <div class="form-group form-file-upload form-file-simple">
                        <label for="inputImagePath" class="bmd-label-static">Hình ảnh</label>
                        <input id="text_modify" type="image" class="form-control" src="{{ filmImage }}" onclick="document.getElementById('fileInput_modify').click();"
                            readonly style="width:100%; height:240px;" />
                        <!-- disabled -->
                        <input id="fileInput_modify" type="file" style="display:none;" (change)="getImageDataModify($event)" />
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea3">Giới Thiệu</label>
                        <textarea class="form-control" id="exampleFormControlTextarea5" rows="3" [(ngModel)]="describe"
                            [ngModelOptions]="{standalone: true}"></textarea>
                        <label *ngIf="_filmDescribeValidate != ''"><span>{{ _describeValidate }}</span></label>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-danger btn-sm">Làm Mới<div class="ripple-container"></div></button>
                        <button type="reset" class="btn btn-success btn-sm float-right" (click)="editFilm()"
                            data-dismiss="modal">Chỉnh Sữa<div class="ripple-container"></div></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- thêm mới -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="display: flex; margin: 50px">
                <form style="margin: auto; width: 100%;">
                    <h4 class="align-center">Thêm Phim Mới</h4>
                    <div class="form-group">
                        <label for="exampleFormControlInput0">Tên phim</label>
                        <input type="text" class="form-control" id="exampleFormControlInput0" placeholder=""
                            [(ngModel)]="filmName" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput0">Giới thiệu</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""
                            [(ngModel)]="describe" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput0">Thời gian sản xuất</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder=""
                            [(ngModel)]="yearCreate" [ngModelOptions]="{standalone: true}">
                    </div>

                    <!--Add-->
                    <div class="form-group">
                        <label for="inputImagePath" class="bmd-label-static">Hình ảnh</label>
                        <input id="text" type="image" class="form-control" placeholder="" onclick="document.getElementById('fileInput').click();"
                            readonly style="width:100%; height:240px;" src="{{ filmImage }}" />
                        <!-- disabled -->
                        <input id="fileInput" type="file" style="display:none;" (change)="getImageDataAdd($event)" />
                    </div>

                    <div class="form-group">
                        <button type="reset" class="btn btn-danger btn-sm">Làm Mới<div class="ripple-container"></div></button>
                        <button type="reset" class="btn btn-success btn-sm float-right" (click)="addFilm()"
                            data-dismiss="modal">Thêm Mới<div class="ripple-container"></div></button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!---->

<!-- Thêm mới Actor -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLongLong" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thể loại phim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-sm-6">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" style="text-align: center">Danh sách diễn viên</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actorFilmNotIns of lstActorFilmNotIn">
                                <td> {{ actorFilmNotIns.ActorName }}</td>
                                <td>
                                    <span (click)="updateAddActorFilm(actorFilmNotIns.ActorID)" style="background-color:purple"
                                        type="button" class="badge badge-pill badge-success">
                                        +
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" style="text-align: center">Diễn viên đã chọn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actorFilms of lstActorFilm">
                                <td> {{ actorFilms.ActorName }}</td>
                                <td>
                                    <span (click)="updateRemoveActorFilm(actorFilms.ActorID)" style="background-color:red"
                                        type="button" class="badge badge-pill badge-success">
                                        -
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->

<!-- Thêm mới đạo diễn -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Đạo diễn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-sm-6">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" style="text-align: center">Danh sách đạo diễn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let directorFilmNotIns of lstDirectorFilmNotIn">
                                <td> {{ directorFilmNotIns.DirectorName }}</td>
                                <td>
                                    <span (click)="updateAddDirectorFilm(directorFilmNotIns.DirectorID)" style="background-color:purple"
                                        type="button" class="badge badge-pill badge-success">
                                        +
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" style="text-align: center">Đạo diễn đã chọn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let directorFilms of lstDirectorFilm">
                                <td> {{ directorFilms.DirectorName }}</td>
                                <td>
                                    <span (click)="updateRemoveDirectorFilm(directorFilms.DirectorID)" style="background-color:red"
                                        type="button" class="badge badge-pill badge-success">
                                        -
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->

<!-- Thêm mới style -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLongLongLong" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thể loại phim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-sm-6">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" style="text-align: center">Danh sách thể loại</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let typeFilmNotIns of lstTypeFilmNotIn">
                                <td> {{ typeFilmNotIns.NameType }}</td>
                                <td>
                                    <span (click)="updateAddTypeFilm(typeFilmNotIns.TypeID)" style="background-color:purple"
                                        type="button" class="badge badge-pill badge-success">
                                        +
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" style="text-align: center">Thể loại đã chọn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let typeFilms of lstTypeFilm">
                                <td> {{ typeFilms.NameType }}</td>
                                <td>
                                    <span (click)="updateRemoveTypeFilm(typeFilms.TypeID)" style="background-color:red"
                                        type="button" class="badge badge-pill badge-success">
                                        -
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->