/*
#header{
    width: 100%;
    height: 60px;
    box-shadow: 0 5px 5px #666;
    position: fixed;
    background: #F1F1F1;
    z-index: 999;
}

#menu-logo{
    height: 60px;
    margin-left: 3.5%;
    float: left;
    display: flex;
}

.big-logo{
    margin: auto;
}

#menu-top{
    height: 60px;
    margin-left: 1.5%;
    float: left;
}

#menu-top ul {
    list-style-type: none;
    text-align: center;
}

#menu-top li {
    display: inline-block;
    width: 90px;
    height: 60px;
    line-height: 60px;
    margin-left: -5px;
}

#menu-top a {
    font-size: 13px;
    color: #666;
    text-decoration: none;
    display: block;
}

#menu-top a:hover {
    background: #F1F1F1;
    color: red;
}

 // ==Dropdown Menu==
.sub-menu {
    display: none;
    position: absolute;
  }
  #menu-top li {
    position: relative;
  }
  #menu-top li:hover .sub-menu {
    display: block;
  }
  .sub-menu li {
    margin-left: 0 !important;
  }
  

#search{
    width: 20%;
    height: 60px;
    margin-left: 5%;
    float: left;
    display: flex;
}

#pl-flex{
    display: flex;
}

#pl-margin-auto{
    margin: auto;
}

#user{
    height: 60px;
    margin-right: 3%;
    float: right;
    display: flex;
}

.user-login-btn{
    height: 40px;
    margin: auto;
}

#footer{
    width: 100%;
    height: 100px;
    background: rebeccapurple;
}

#sub-header{
    width: 100%;
    height: 60px;
}
*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: silver;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 20%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  .settingbtn {
    text-align: center;
}
  .settingbtn button{
      width: 150px;
  }