<div class="header">
  <h1><i class="fas fa-film"></i></h1>
  <p>Management Film</p>
</div>
<div class="leftcolumn">
  <div class="card card-nav-tabs">
    <div class="card-header card-header-info">
      <i class="fas fa-database"></i>
    </div>
    <div class="card-body">
      <div class="settingbtn">
        <button class="btn btn-info" routerLink="film" >Phim <i class="fas fa-film"></i></button>
        <div class="dropdown-divider"></div>
        <button class="btn btn-info" routerLink="type" >Thể loại <i class="fab fa-youtube"></i></button>
        <div class="dropdown-divider"></div>
        <button class="btn btn-info" routerLink="director" >Đạo diễn <i class="fas fa-video"></i></button>
        <div class="dropdown-divider"></div>
        <button class="btn btn-info" routerLink="actor" >Diễn viên <i class="fas fa-user-astronaut"></i></button>
        <div class="dropdown-divider"></div>
        <button class="btn btn-info" routerLink="user" >Người dùng <i class="fas fa-users"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="rightcolumn">
  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#0">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a  class="nav-link" routerLink="profile">
              <i class="material-icons">account_circle</i> {{currentName}}
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true">
              <i class="material-icons">settings</i>                       
              <b class="caret"></b>
              <div class="ripple-container"></div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a (click)="Logout()" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
