<div class="row">
    <!-- <button style="margin-top: 2%;font-style:inherit ;" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong"
        (click)="init()">Thêm thể loại
        <div class="ripple-container"></div>
    </button> -->
    <table id="customers">
        <thead class="style">
            <tr>
                <th width="15%">ID</th>
                <th>Phim</th>
                <th>Hình ảnh</th>
                <th>Năm sản xuất</th>
                <th>Mô tả</th>
                <th>Thể loại</th>
                <th>Diễn viên</th>
                <th>Đạo diễn</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of Types | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
                <td>{{type.TypeID}}</td>
                <td>{{type.NameType}}</td>
                <td>

                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalEdit" (click)="showType(i,p)"><i
                            class="fas fa-pencil-alt"></i>
                        <div class="ripple-container"></div>
                    </button>
                    <button class="btn btn-info" (click)="removeType(i,p)"><i class="fa fa-trash"></i>
                        <div class="ripple-container"></div>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
