<div class="row">
    <button style="margin-top: 2%;font-style:inherit ;" class="btn btn-info" data-toggle="modal" data-target="#exampleModalInsert"
        (click)="init()"> Thêm thể loại
        <div class="ripple-container"></div>
    </button>
    <table id="customers">
        <thead class="style">
            <tr>
                <th width="15%">ID</th>
                <th>Thể loại</th>
                <th width="40%">Hiểu chỉnh</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let type of Types | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
                <td>{{type.TypeID}}</td>
                <td>{{type.NameType}}</td>
                <td>
                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalEdit" (click)="showType(i,p)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalRemove">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalFilmByType" (click)="showFilmByType(i, p)">
                        <i class="fas fa-info"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- Xóa thể loại -->
<!-- Modal -->
<div class="modal fade" id="exampleModalRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p style="font-size: 100%; color: rgb(234, 70, 70)" class="description text-center">Bạn có thật sự muốn
                    xóa thể loại này ?</p>
            </div>
            <div class="card-body">
                <div class="form-group" style="text-align: center;">
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="removeType(i,p)"><i class="fas fa-check"></i></button>
                    <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm thể loại -->
<!-- Modal -->
<div class="modal fade" id="exampleModalInsert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p style="font-size: 150%; color: cornflowerblue" class="description text-center">Thêm thể loại</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="form-group" style="text-align: center">
                    <div>
                        <!-- nhập tên thể loại -->
                        <input type="text" class="form-control" placeholder="Tên thể loại ..." [(ngModel)]="nameType">
                        <label *ngIf="nameTypeValidate != ''"><span style="color: crimson;">
                                {{nameTypeValidate}}<i class="fas fa-exclamation-circle"></i></span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="insertType()"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sửa thể loại -->
<!-- Modal -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p style="font-size: 150%; color: cornflowerblue" class="description text-center">Sửa thể loại</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <!-- nhập tên thể loại -->
                        <input type="text" class="form-control" placeholder="Tên thể loại ..." [(ngModel)]="nameType">
                        <label *ngIf="nameTypeValidate != ''">
                            <span style="color: crimson;">{{nameTypeValidate}}</span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="editType()"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Phim theo thể loại -->
<!-- Modal -->
<div class="modal fade" id="exampleModalFilmByType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 1.75rem 50px 1.75rem 265px;">
        <div class="modal-content" style="width: 1070px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p style="font-size: 100%; color: rgb(0, 72, 255)" class="description text-center">
                    Thể loại:</p>
            </div>
            <div class="card-body">
                <div class="form-group" style="text-align: center;">
                    <table id="customers">
                        <thead class="style">
                            <tr>
                                <th width="200px">Phim</th>
                                <th width="200px">Hình ảnh</th>
                                <th width="90px">Năm SX</th>
                                <th width="220px">Mô tả</th>
                                <th width="120px">Thể loại</th>
                                <th width="120px">Diễn viên</th>
                                <th width="120px">Đạo diễn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let film of Films | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
                                <td>{{film.FilmName}}</td>
                                <td>{{film.Img}}</td>
                                <td>{{film.Year}}</td>
                                <td>{{film.Describe}}</td>
                                <td>
                                    <tr *ngFor="let type of film.TypeFilms">
                                        <p>"{{type.NameType}}"</p>
                                    </tr>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>