<div class="container">
    <div class="row col-sm-12">
        <div class="col-sm-6">
            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalAdd" style="margin: 0 0 15px -15px"
                (click)="init()">
                Thêm thể loại
            </button>
        </div>
        <div class="col-sm-6 pull-right">
            <input type="text" style="margin-left: 40px" class="form-control" placeholder="Search" (keyup)="getId(idType)">
        </div>
    </div>
    <table id="customers">
        <thead class="style">
            <tr>
                <th width="15%">ID</th>
                <th>Thể loại</th>
                <th width="40%">Hiểu chỉnh</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of Types | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
                <td>{{type.TypeID}}</td>
                <td>{{type.NameType}}</td>
                <td>

                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalEdit" (click)="showType(i,p)"><i
                            class="fas fa-pencil-alt"></i>
                        <div class="ripple-container"></div>
                    </button>
                    <button class="btn btn-info" data-toggle="modal" (click)="getIdDelete(type)" data-target="#exampleModalRemove">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-info" (click)="filmByType(type)">
                        <i class="fas fa-info"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!-- Xóa thể loại -->
<!-- Modal -->
<div class="modal fade" id="exampleModalRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <p style="font-size: 100%; color: rgb(234, 70, 70)" class="description text-center">Bạn có thật sự muốn
                    xóa thể loại này ?
                </p>
                <div class="row">
                    <div style="text-align: center; width: 500px;">
                        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="removeType()"><i class="fas fa-check"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm thể loại -->
<!-- Modal -->
<div class="modal fade" id="exampleModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <p style="font-size: 150%; color: cornflowerblue" class="description text-center">Thêm thể loại</p>
                <div class="form-group">
                    <div>
                        <!-- nhập tên thể loại -->
                        <input type="text" class="form-control" placeholder="Tên thể loại ..." [(ngModel)]="nameType">
                        <label *ngIf="nameTypeValidate != ''"><span style="color: crimson;">
                                {{nameTypeValidate}}<i class="fas fa-exclamation-circle"></i></span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="insertType()"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sửa thể loại -->
<!-- Modal -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <p style="font-size: 150%; color: cornflowerblue" class="description text-center">Sửa thể loại</p>

                <div class="form-group">
                    <div>
                        <!-- nhập tên thể loại -->
                        <input type="text" class="form-control" placeholder="Tên thể loại ..." [(ngModel)]="nameType">
                        <label *ngIf="nameTypeValidate != ''">
                            <span style="color: crimson;">{{nameTypeValidate}}</span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editType()"><i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>